[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyserial = "*"
numpy = "*"
fastdtw = "*"
timeout-decorator = "*"
scipy = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.7"
